# Node modules
node_modules/
healthcare-frontend/node_modules/
healthcare-backend/node_modules/

# Env files
.env
healthcare-frontend/.env
healthcare-backend/.env

# Build artifacts
build/
healthcare-frontend/dist/
healthcare-backend/logs/

# Docker volumes
ganache_data/
mongo_data/

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
